<html>
  <head>
    <link rel="stylesheet" type="text/css" href=""
  </head>
  <body>
  <div id="studentsTableContainer" class="table-responsive">
  </div>
  <script src="../bower_components/jquery/dist/jquery.min.js"></script>
  <script src="../bower_components/lodash/dist/lodash.min.js"></script>
  <script src="./js/app.js"></script>
  <script type="text/template">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>GitHub</th>
          <th>Course(s)</th>
          <th>Available</th>
        </tr>
      </thead>
      <tbody>
      <% _(students).forEach(function(currentStudent) { %>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      <% }) %>
      </tbody>
    </table>
  </script>
  </body>
</html>